body {
  font-family: "Source Sans Pro", serif;
  line-height: 1.2rem;
  font-size: 10pt;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  background-color: rgb(249, 250, 249);
  color: rgb(65, 75, 65);
}
h1,
h2,
h3,
h4 {
  color: #333;
  margin: 0 0 1rem 0;
}
h1 {
  font-size: 18pt;
}
h2 {
  font-size: 15pt;
}
h3 {
  font-size: 13pt;
}
a,
a:visited,
a:hover,
a:active {
  color: #333;
}
a,
a:visited {
    text-decoration-color: #ccc;
}
a:hover,
a:active {
    text-decoration-color: rgb(58, 136, 27);
}
p {
  margin: 1rem 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
blockquote {
  margin: 10px 20px;
  font-style: italic;
}
ul,
ol {
  list-style: initial;
  margin-bottom: 1rem;
}
li {
  margin: 0 20px;
  list-style-position: inside;
}
footer {
  margin-top: 2rem;
  text-align: center;
}
footer canvas {
  width: 2rem;
  height: 2rem;
}
@media print {
  body {
    max-width: unset;
    padding: 1cm;
  }
  .no-print {
    display: none;
  }
}
