<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Landon Kuhn - Resume</title>
        <meta name="description" content="Resume and work-related landing spot for Landon Kuhn">
        <meta name="author" content="Landon Kuhn">
    </head>
<body>
    # {{& name }}

        Email  : {{& email}}
        City   : {{& city}}
        Phone  : {{& phone}}
        Resume : {{& resumeLink}}

    {{& status}}

    ## Summary

    {{#summaryStatements}}
    {{& .}}

    {{/summaryStatements}}
    ## Experience

    {{#experience}}
    #### {{& name}}

    *{{& title}} - {{& location}} - {{& time}}*

    > {{& companySummary}}

    {{#narrative}}
    {{& .}}

    {{/narrative}}
    {{/experience}}
    ## Education

    *{{& education.where}} - {{& education.what}} - {{& education.when}}*

    {{& education.statement}}
</body>
</html>
