<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Landon Kuhn - Resume</title>
        <meta name="description" content="Resume and work-related landing spot for Landon Kuhn">
        <meta name="author" content="Landon Kuhn">
    </head>
<body>
  <h1>Hello, world</h1>
</body>
</html>
