body {
  font-family: Verdana;
  line-height: 1.1rem;
  font-size: 10pt;
  max-width: 600px;
  margin: auto;
  padding: 1rem;
  background-color: rgb(249, 250, 249);
  color: rgb(65, 75, 65);
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.5rem;
  margin: .5rem 0;
}
h1 {
  font-size: 20pt;
}
h2 {
  font-size: 14pt;
}
h3 {
  font-size: 13pt;
}
a,
a:visited,
a:hover,
a:active {
  color: blue;
  text-decoration-color: blue;
}
p {
  margin: 1rem 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
blockquote {
  font-style: italic;
  padding-left: 1rem;
  border-left: 1px solid lightgray;
}
li {
  margin: 0 20px;
}
footer {
  margin-top: 2rem;
  text-align: center;
}
footer canvas {
  width: 2rem;
  height: 2rem;
}
@media print {
  body {
    max-width: unset;
    padding: 1cm;
  }
  .no-print {
    display: none;
  }
}
